<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <div class="container">
      <% include _navbar %>
      <h1>CodeMirror</h1>

      <p>
        <a href="/download">Download</a> the electron app for the full experience. To view a repository
        navigate to '/owner/name'.
      </p>


    </div>
  </body>
</html>
