<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
    <script src='/javascripts/index.js'></script>
  </head>
  <body>
    <div class="container">
      <% include _navbar %>
      <h1>File Viewer</h1>

      <div id="file" style="white-space: pre-wrap;"><%= data %></div>
      <!-- <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form> -->

      <form action="/" method="post" enctype="multipart/form-data">
          <input type="file" name="txtFile">

          <button type="submit" class="btn btn-warning btn-lg">Submit</button>
      </form>

    </div>
  </body>
</html>
