<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <div class="container">
      <% include _navbar %>
      <h1>CodeMirror</h1>

      <p>
        Welcome to CodeMirror! CodeMirror is a simple app that allows you to
        broadcast a repository (any directory on your computer) to the world. While being broadcasted,
        the repository will be able to be viewed by anyone. Any change made to the repository
        will automatically be reflected to all users viewing it in real time.
        <br>
        <br>
        To get started please download the app using one of the download links below.
        If you don't want to download, you can still view any repositories currently being broadcasted
        by using the navigation bar (where username belongs to a specific user).
      </p>

      <h4>Download Links</h4>
      <ul>
        <li><a href="/download-darwin">mac os</a></li>
        <li><a href="/download-linux">linux</a></li>
        <li><a href="/download-win32">windows</a></li>
      </ul>

    </div>
  </body>
</html>
