<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
    <script src='/javascripts/index.js'></script>
  </head>
  <body>
    <div class="container">
      <% include _navbar %>
      <h1>File Viewer</h1>

      <div id="file" style="white-space: pre-wrap;"><%#= data %></div>

    </div>
  </body>
</html>
