body {
   font-family: 'Ubuntu', sans-serif !important;
   padding-top: 70px;
}

.well {
  cursor: pointer;
}

.well:hover {
  background-color: #0c0d0e;
}

.well:active {
  border: 1px solid black;
}
