<!DOCTYPE html>
<html>
  <head>
    <% include ../_head %>

    <link rel="stylesheet" href="/stylesheets/show_all_dir.css">
  </head>
  <body>
    <div class="container">
      <% include ../_navbar %>
      <h1><%= owner %>'s Repositories</h1>

      <div id="loading-spinner-container">
        <i id="loading-spinner" class="fa fa-spinner fa-pulse"></i>
      </div>
      <div id="container" style="display: none;"></div>
      <div id="error-message-container"></div>

      <script type='text/javascript'>
        var owner = "<%= owner %>"
      </script>

      <script src="/javascripts/show-all-dir.js"></script>

    </div>
  </body>
</html>
