<!DOCTYPE html>
<html>
  <head>
    <% include ../_head %>

    <link rel="stylesheet" href="/stylesheets/show_dir.css">
    <link rel="stylesheet" href="/dependencies/highlight/styles/tomorrow-night-bright.css">

    <script src="/dependencies/highlight/highlight.pack.js"></script>

  </head>
  <body>
    <div class="container">
      <% include ../_navbar %>

      <div id="directory-name-header" style="display: none;">
        <h1><%= dirUser + "/" + dir %></h1>
        <div id="hide-history" class="fa fa-caret-right" style="left: 80%; display: none;"></div>
        <div id="hide-fileTree" class="fa fa-caret-left" style="right: 80%; display: none;"></div>
      </div>

      <div id="file-view-container"></div>

      <div id="history-container" style="display: none;">
        <div id="history-header">
          <div>History</div>
        </div>

        <div id="history-contents"></div>
      </div>

      <div id="loading-bar-container">
        <i id="loading-spinner" class="fa fa-spinner fa-pulse"></i>
      </div>

      <script type='text/javascript'>
        var directoryName = "<%= dirUser + "/" + dir %>"
      </script>

      <!-- <script src="http://localhost:8080/webpack-dev-server.js"></script>
      <script src="http://localhost:8080/built/bundle.js"></script> -->
      <script src="/javascripts/built/bundle.js"></script>

    </div>
  </body>
</html>
