<!DOCTYPE html>
<html>
  <head>
    <% include ../_head %>

  </head>
  <body>
    <div class="container">
      <% include ../_navbar %>
      <h1 class="page-header"><%= owner %>'s Repositories</h1>

      <div id="container"></div>

      <script type='text/javascript'>
        var owner = "<%= owner %>"
      </script>

      <script src="/javascripts/show-all-dir.js"></script>

    </div>
  </body>
</html>
