<!DOCTYPE html>
<html>
  <head>
    <% include ../_head %>

    <link rel="stylesheet" href="/stylesheets/show_dir.css">
    <link rel="stylesheet" href="/dependencies/highlight/styles/tomorrow-night-bright.css">

    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="/dependencies/highlight/highlight.pack.js"></script>

  </head>
  <body>
    <div class="container">
      <% include ../_navbar %>
      <h1><%= dirUser %></h1>

      <div id="container"></div>

      <script type='text/javascript'>
        var directoryName = "<%= dirUser + "/" + dir %>"
      </script>
      <script type='text/babel' src='/javascripts/show-dir.js'></script>


    </div>
  </body>
</html>
